---
---

:root {
    --rgb-black: 0, 0, 0;
    --rgb-white: 255, 255, 255;
    --rgb-grey: 105, 111, 117;
    --rgb-grey-dark: 15, 21, 27;
    --rgb-grey-light: 210, 216, 222;
    --rgb-blurple: 85, 34, 250;
    --rgb-yellow: 255, 226, 0;
    --rgb-red: 232, 34, 36;
    --color-black: rgb(var(--rgb-black));
    --color-white: rgb(var(--rgb-white));
    --color-grey: rgb(var(--rgb-grey));
    --color-grey-dark: rgb(var(--rgb-grey-dark));
    --color-grey-light: rgb(var(--rgb-grey-light));
    --color-blurple: rgb(var(--rgb-blurple));
    --color-yellow: rgb(var(--rgb-yellow));
    --color-red: rgb(var(--rgb-red));
    --font-family: 'Lab Grotesque', Sans-Serif;
    --font-family-mono: 'Lab Grotesque Mono', Monospace;
    --font-size: calc(1em + 1vw);
    --font-size-x-small: 60%;
    --font-size-small: 80%;
    --font-size-large: 105%;
    --font-size-x-large: 110%;
    --font-size-xx-large: 115%;
    --font-size-xxx-large: 125%;
    --font-size-xxxx-large: 140%;
    --line-height: calc(1.3em + 1vw);
    --spacing: 0.75em;
    --transition: 0.2s cubic-bezier(0.37, 1, 0.74, 1);
}

body {
    background-color: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-white);
    font-weight: 700;
}

a {
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: normal;
    text-decoration: underline;
    text-decoration-thickness: 0.09em;
    text-underline-offset: 0.09em;
}

// nav

header {
    background: linear-gradient( 180deg, rgba(var(--rgb-black), 1) 0, rgba(var(--rgb-black), 0) 100% );
    display: flex;
    justify-content: flex-end;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 104;

    h1 {
        order: 2;
        pointer-events: auto;
    }

    img {
        width: 3rem;
    }
}

// index.html

.commits {
    margin: 7.4em var(--spacing) 4.5em var(--spacing);
    opacity: 0;

    a {
        display: block;
        letter-spacing: -0.01em;
        pointer-events: auto;
        text-decoration: none;
        transition: color var(--transition);
    }
}

.commits.commits--index {
    margin-bottom: 7.4em;
    opacity: 1;
    pointer-events: none;
}

@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
    .commits.commits--index {
        margin-bottom: 44.4vh;
    }
}

@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
    .commits.commits--index:hover header a:not(:hover), .commits.commits--index:focus-within header a:not(:focus) {
        color: var(--color-grey);
    }
}

.elem {
    color: var(--color-white);
    position: relative;
}

.elem dl {
    display: flex;
    font-weight: 700;
}

.elem dl dt {
    font-feature-settings: 'ss02', 'tnum';
    width: 2.8ch;
}


// single post 

.commits--post {
    margin: 3.4em auto;
    width: 95%;

    h1 {
        font-size: 2.25rem; /* 36px */
    }

    color: var(--color-white);
}

@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
    .commits--post {
        margin: 0 auto;
        width: 50%;
    }
}