---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US"
  itemscope="" itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | xml_escape }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <main>
      <header>
        <a href="/about.html">
          <img src="/images/logo.png" class="photo" alt="logo" itemprop="image"/>
        </a>
      </header>
      {{ content }}
      <footer>
        (c)
        <span itemscope="" itemtype="http://schema.org/Person">
          <span itemprop="name">Bohdan Snisar</span>
        </span>
        <br/>
        2023
      </footer>
    </main>
    <script>

    </script>
  </body>
</html>